* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.game {
  width: 400px;
  height: 600px;
  border: 5px solid mediumseagreen;
}
#view {
  float: left;
  width: 300px;
  height: 600px;
  border-right: 5px solid mediumaquamarine;
  background: #000;
  position: relative;
}
#block div {
  width: 30px;
  height: 30px;
  box-shadow: -1px -1px 2px inset;
  border: 1px solid #000;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}
#play {
  position: absolute;
  width: 100px;
  height: 50px;
  line-height: 50px;
  background: #ddd;
  text-align: center;
  font-size: 16px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -25px;
  z-index: 3;
}
#view #grid {
  width: 100%;
  height: 100%;
}
#view #grid li {
  width: 30px;
  height: 30px;
  background: blue;
  box-shadow: -3px -3px 3px inset;
  border: 1px solid #fff;
  box-sizing: border-box;
  float: left;
  opacity: 0;
  position: relative;
  z-index: 2;
}
#control {
  float: left;
  height: 100%;
  width: 95px;
  background: #000;
}
#nextTitle {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}
#next {
  position: relative;
  margin-bottom: 150px;
}
#nextBox div {
  width: 15px;
  height: 15px;
  box-shadow: -1px -1px 2px inset;
  border: 1px solid #000;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}
#handle,
#score {
  color: #fff;
  padding: 10px;
  height: 200px;
}
#handle h5 {
  margin-bottom: 10px;
}
#handle li {
  margin-bottom: 5px;
  font-size: 12px;
  font-family: serif;
}
#score span{
  font-size: 18px;
}
